= javascript_include_tag "users"

.language_settings
  = t 'user.settings.language.title'
  %form#lang_form{:action => "#{url_for(params)}", :method => :get}
    %select#lang_select{:name => "locale", :onChange => "set_lang_from_link()"}
      - if params[:locale] == "en"
        %option{:value => "en", :selected => "selected"} English
      - else
        %option{:value => "en"} English
      - if params[:locale] == "pl"
        %option{:value => "pl", :selected => "selected"} Polski
      - else
        %option{:value => "pl"} Polski
    %button{:type => "submit", }
      = t 'user.settings.language.button'
