%h1= @storage.name
%h2= @storage.description

=#TODO: tabela z zawartością
=#TODO: informacja o użytkownikach mających dostęp

.edit= link_to t('storages.view.edit'), edit_storage_path(@storage)
.delete= link_to t('storages.view.delete'), delete_storage_path(@storage)
