%h1= @category.name
%h2= @category.description

=#TODO: tabela z zawartością

.edit= link_to t('categories.view.edit'), edit_category_path(@category)
.delete= link_to t('categories.view.delete'), delete_category_path(@category)
