%h1= t('manufacturers.delete.title')

%p= t('manufacturers.delete.info')
= link_to t('manufacturers.delete.answer_no'), view_manufacturer_path(@manufacturer)
= link_to t('manufacturers.delete.answer_yes'), confirmed_delete_manufacturer_path(@manufacturer)
