%h1= t('manufacturers.delete.title')

%p= t('manufacturers.delete.info')
.answer_no= link_to t('manufacturers.delete.answer_no'), view_manufacturer_path(@manufacturer)
.answer_yes= link_to t('manufacturers.delete.answer_yes'), confirmed_delete_manufacturer_path(@manufacturer)
